<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">School Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3 ">
        <a class="nav-link text-white" href="{% url 'profile' %}">Profile</a>
        <a class="nav-link text-white" href="/">All Students</a>
        <a class="nav-link text-white " href="{% url 'add_student'%}">Add students</a>
        </ul>
          <a href="{% url 'logout'%}" class='btn btn-warning mx-3'>Logout</a>
          {% else %}
          <div class='ms-auto'>
          <a href="{% url 'login'%}" class='btn btn-warning mx-3 '>login</a>
          <a href="{% url 'register'%}" class='btn btn-success'>Register</a>
          </div>
        {%endif%}
      </div>
    </div>
  </nav>